@import '../theme';
@tailwind base;
@tailwind components;
@tailwind utilities;

.guest {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
  color: $textColor;
  font-family: $fontDefault;
}

.guest .column-item {
  flex-basis:100%;
}

.guest .back {
  flex-basis:10%;
  background-color: $accent1;
  box-shadow: $dropShadow;
}

.guest .continue {
  flex-basis:10%;
  background-color: $accent2;
  box-shadow: $dropShadow;
}