@import '../theme';
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 20px; /* row-gap column gap */
  color: $textColor;
  font-family: $fontDefault;
}

.container .column-item {
  flex-basis:100%;
}

.container .label {
  flex-basis:15%;
}

.container .slider {
  flex-basis:75%;
}

.container .backinio {
  flex-basis:10%;
  background-color: $accent1;
  box-shadow: $dropShadow;
}

.container .addplayers {
  flex-basis:10%;
  background-color: $accent2;
  box-shadow: $dropShadow;
}